{ 
  "presets": [
    "minify",
    ["@babel/preset-env",{
      "targets": { "node" : "current"}
    }]
  ] ,
  "plugins":[
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias":{
          "@server" : "./server",
          "@routes" : "./server/routes",
          "@entities": "./server/entities",
          "@use-cases": "./server/use-cases",
          "@common": "./server/common",
          "@config": "./server/config",
          "@contracts": "./server/contracts",
          "@frameworks": "./server/frameworks",
          "@controllers": "./server/controllers"
        }
      }
    ]
  ]
} 
